#side {
  float: left;
  margin-left: 10px;
  background: rgb(199, 199, 199);
  margin: 6px;
  overflow-x: auto;
  padding: 6px;
  font-family: 'Marcellus SC';
}

body {
  font-family: 'Marcellus SC', serif;
  text-align: center;
}

.center {
  background: rgb(255, 239, 117);
}

#list {
  font-size: 12px;
}
